*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  rgba(145, 3, 3, 0.836);
    height: 90px;
}

h1{
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    font-style: normal;
    font-size: 55px;
    text-decoration: none;
}

#main-header a{
    font-size: 25px;
    color: aliceblue;
    position: relative;
    top: 7px;
    padding: 0 15px;
    transition: 0.3s;
}

#main-header a:hover{
    color: rgb(59, 56, 218);
}

.navbar{
    background-color: rgba(0, 0, 0, 0.747);
    height: 55px;
}

.navbar ul{
    padding: 15px 0;
    list-style: none;
    text-align: center;
}

.navbar li{
    display: inline;
    position: relative;
    right: 25px;
    padding: 0 5px;
}

.navbar a{
    color: rgb(170, 82, 0);
    text-decoration: none;
    font-size: 20px;
    padding: 1px 20px;
}

a.active,.navbar a:hover{
    border: 2px solid white;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    transition: background-color .7s linear;
}

.main{
    background-image: url(/images/test.jpg);
    background-position: center center;
    background-size: cover;
    height: 84.8vh;
    padding-top: 85px
}

#box{
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.589);
    text-align: center;
    margin-left: 33%;
    margin-right: 33%;
}

h2{
    font-size: 39px;
    color:rgb(255, 255, 255);
}

h3{
    padding: 15px 0;
    font-size: 27px;
    color: white;
}

.main a{
    color: rgb(51, 129, 197);
    transition: .3s;
    background-color: rgba(255, 255, 255, 0.781);
    border-radius: 15px;
    padding: 4px 10px;
}

.main a:hover{
    background-color: rgb(51, 129, 197);
    color: white;
    border-radius: 15px;
    padding: 5px 10px;
}

@media(max-width:1020px){
    h1{
        font-size: 40px;
    }
    #box{
        margin-left: 25%;
        margin-right: 25%;
    }
    }
